.page_setup_table {
    width: 600px;
}
.page_setup_width {
    max-width: 700px;
}
table.style_none {
    background-color: transparent;
    color: #000000;
    border: 0;
}
table.style_none tr {
    background-color: transparent;
    color: #000000;
    border: 0;
}
table.style_none td {
    background-color: transparent;
    color: #000000;
    border: 0;
}

.opn_table_b tr{
    display: flex;
    margin-bottom: 0;
    flex-wrap: unset;
}
.opn_table_d{
    border: 1px solid #d1d1d1;
    font-size: 11pt;
}
.opn_font_b{
    font-size: 12pt ;
}
.opn_table_t td{
    font-size: 14pt;
}
.opn_font_n td{
    font-size: 11pt;
    padding: 0.25em;
    border: none
}
.no-border{
    border: none
}