.bg_page {
    background-image: url("../img/member/detail_member_card.jpg");
    background-repeat: no-repeat;
    background-position:center top;
}
table.info_card {
    width: 100%;
    max-width: 500px;
}